.social-icon {
  &__list {
    margin-top: $mb-3;
    color: $primary-color;
  }
  &__item {
    & svg {
    width: 40px;
    height: 40px;
    transition: $transition-all;
      &:hover {
        color: $primary-color-darken-1;
      }
      &:active {
        color: $primary-color-darken-2;
      }
    }
  }
  &__item:not(:last-child) {
    margin-right: 5px;
  }
}
