.footer {
  &__container {
    row-gap: 3.5rem;
  }
  &__bg {
    background-color: $primary-color;
    padding: 2rem 0 3rem;
  }
  &__title {
    color: $white-color;
    font-size: $h1-font-size;
    margin-bottom: $mb-0-25;
  }
  &__subtitle {
    color: $white-color;
    font-size: $small-font-size;
  }
  &__socials {
    &-item svg {
      width: 40px;
      height: 40px;
      color: $white-color;
      margin-right: $mb-0-75;
      &:hover {
        color: darken($white-color, 10%);
      }
      &:active {
        color: darken($white-color, 30%);
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__link {
    display: block;
    font-size: $h2-font-size;
    color: $white-color;
    margin-bottom: $mb-2;
    &:hover {
      color: $primary-color-lighten-1;
    }
    &:active {
      color: $primary-color-darken-1;
    }
  }
  &__copy {
    font-size: $small-font-size;
    text-align: center;
    color: $white-color;
    margin-top: $mb-3;
  }
  
}