<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Sen:300,400,500,700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper h-screen">
    <div class="header bg-white shadow-xl montserrat ">
        <div class="sm:container sm:mx-auto flex justify-between items-center py-2 text-md">
            <div class="logo flex items-center">
                <img class="mr-3 avatar" src="./img/avatar.png" alt="" >
                <div class="name flex flex-col">
                    <span class="font-bold -mb-2">Maxim</span>
                    <span class="font-bold -mb-1">Shuchukin</span>
                    <span class="font-light">Software Developer</span>
                </div>
            </div>
            <nav class="flex nav  font-medium">
                <ul class="flex">
                    <li class="nav-menu mr-5"><a href="/">Home</a></li>
                    <li class="nav-menu mr-5"><a href="/">About</a></li>
                    <li class="nav-menu mr-5"><a href="/">Work</a></li>
                    <li class="nav-menu mr-5"><a href="/">Blog</a></li>
                    <li class="nav-menu"><a href="/">Contact</a></li>
                </ul>
            </nav>
            <div class="btn font-medium">
                <div class="rounded-full py-2 px-9 bg-primary text-white">HIRE ME</div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>